@model Final_ISO605.Core.Ingreso;

@{
    ViewData["Title"] = Model != null && Model.ID == 0 ? "Crear Ingreso" : "Editar Ingreso";
}

<form method="post" action="CreateOrEdit">
    <div class="card">
        <div class="card-header align-content-center bg-info">
            <h2 class="text-center">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="ID" />
            <div class="form-floating mb-2">
                <label asp-for="TipoIngresoID" class="control-label"></label>
                <input asp-for="TipoIngresoID" class="form-control" />
                <span asp-validation-for="TipoIngresoID" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Descripcion" class="form-control" />
                <label asp-for="Descripcion"></label>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Estado" class="form-control" />
                <label asp-for="Estado"></label>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div>
                @if (Model != null && Model.ID == 0)
                {
                    <div class="col-lg-12 d-grid">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 d-grid">
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}